@import "../../less-atoms/main";

.tg-tabs {
    /* TODO: Create a hash with colors and extract a common function for this */
    .zone-news {
        background-color: @red;
    }
    
    .zone-sports {
        background-color: @green;
    }
    
    .zone-travel {
        background-color: @blue;
    }
}