<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The Guardian Tabs</title>
        
        <link rel="stylesheet" href="vendor/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="vendor/html5-boilerplate/css/main.css">

        <script src="vendor/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        
        <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">
        
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="components/tabs/tabs.css">
        <link rel="stylesheet" href="components/news/news.css">
    </head>

    <body>
        
        <!--
        The code below is a fallback for users with no Javascript enabled.
        With server side templating, they can be unified with the Angular component templates
        and include the news as provided by the backend.
        -->
        <section class="tabs-component">
            <ul class="tg-tabs"
                tg-tabs>
                <li class="tab">
                    <button class="tab-trigger zone-news"
                       href="/news/uk-news"
                       ng-click="openTab('uk-news')">
                        UK News
                    </button>
                </li>
                
                <li class="tab">
                    <button class="tab-trigger zone-sports"
                       href="/news/football"
                       ng-click="openTab('football')">
                        Football
                    </button>
                </li>
                
                <li class="tab">
                    <button class="tab-trigger zone-travel"
                       href="/news/travel"
                       ng-click="openTab('travel')">
                        Travel
                    </button>
                </li>
            </ul>
            
            <section class="news"
                     aria-live="polite"
                     ng-cloak>
                <ol class="tg-news-list"
                    tg-news>
                    <li class="headline-content">
                        <article class="headline">
                            <header>
                                <h1>
                                    <a href="http://www.theguardian.com/uk-news/2014/oct/21/rochdale-taxi-firm-white-drivers-on-request">
                                        Rochdale taxi firm admits providing white drivers on request
                                    </a>
                                </h1>
                                
                                <time pubdate datetime="21-10-2014">
                                    21-10-2014
                                </time>
                            </header>
                            
                            <div class="content">
                                Car 2000 minicab company, which serves area where Asian grooming gangs have operated, says it is catering to demand.
                            </div>
                        </article>
                    </li>
                    
                    <li class="headline-content">
                        <article class="headline">
                            <header>
                                <h1>
                                    <a href="http://www.theguardian.com/uk-news/2014/oct/21/rochdale-taxi-firm-white-drivers-on-request">
                                        Rochdale taxi firm admits providing white drivers on request
                                    </a>
                                </h1>
                                
                                <time pubdate datetime="21-10-2014">
                                    21-10-2014
                                </time>
                            </header>
                            
                            <div class="content">
                                Car 2000 minicab company, which serves area where Asian grooming gangs have operated, says it is catering to demand.
                            </div>
                        </article>
                    </li>
                    
                    <li class="headline-content">
                        <article class="headline">
                            <header>
                                <h1>
                                    <a href="http://www.theguardian.com/uk-news/2014/oct/21/rochdale-taxi-firm-white-drivers-on-request">
                                        Rochdale taxi firm admits providing white drivers on request
                                    </a>
                                </h1>
                                
                                <time pubdate datetime="21-10-2014">
                                    21-10-2014
                                </time>
                            </header>
                            
                            <div class="content">
                                Car 2000 minicab company, which serves area where Asian grooming gangs have operated, says it is catering to demand.
                            </div>
                        </article>
                    </li>
                    
                    <li class="headline-content">
                        <article class="headline">
                            <header>
                                <h1>
                                    <a href="http://www.theguardian.com/uk-news/2014/oct/21/rochdale-taxi-firm-white-drivers-on-request">
                                        Rochdale taxi firm admits providing white drivers on request
                                    </a>
                                </h1>
                                
                                <time pubdate datetime="21-10-2014">
                                    21-10-2014
                                </time>
                            </header>
                            <div class="content">
                                Car 2000 minicab company, which serves area where Asian grooming gangs have operated, says it is catering to demand.
                            </div>
                        </article>
                    </li>
                    
                    <li class="headline-content">
                        <article class="headline">
                            <header>
                                <h1>
                                    <a href="http://www.theguardian.com/uk-news/2014/oct/21/rochdale-taxi-firm-white-drivers-on-request">
                                        Rochdale taxi firm admits providing white drivers on request
                                    </a>
                                </h1>
                                
                                <time pubdate datetime="21-10-2014">
                                    21-10-2014
                                </time>
                            </header>
                            
                            <div class="content">
                                Car 2000 minicab company, which serves area where Asian grooming gangs have operated, says it is catering to demand.
                            </div>
                        </article>
                    </li>
                </ol>
            </section>
        </section>
        
        <script src="vendor/angular-loader/angular-loader.js"></script>
        <script src="vendor/scriptjs/dist/script.js"></script>
        <script src="loader.js"></script>
    </body>

</html>
