<ol class="tg-news-list">
    <li class="headline-content"
        ng-repeat="article in news|limitTo:10"
        ng-cloak>
        <article class="headline">
            <header>
                <h1>
                    <a ng-href="{{ article.webUrl }}">
                        {{ article.webTitle }}
                    </a>
                </h1>

                <time pubdate datetime="{{ article.webPublicationDate | date: 'dd-MM-yyyy HH:mm' }}">
                    {{ article.webPublicationDate | date: 'dd-MM-yyyy HH:mm' }}
                </time>
            </header>

            <div class="content">
                {{ article.fields.trailText }}
            </div>
        </article>
    </li>
    <li class="headline-content"
        ng-hide="news.length">
        No content for this category is available at the moment.
    </li>
</ol>